= form_for @proyecto do |f|
  - if @proyecto.errors.any?
    .row
      .col-sm-6
        .alert.alert-danger
          %strong= "Proyecto no puede guardarse. #{pluralize(@proyecto.errors.count, "error")}"
          %ul
            - @proyecto.errors.full_messages.each do |message|
              %li= message
  .row
    .col-md-6
      .panel.panel-primary
        .panel-heading
          %h4.panel-title
            DATOS
        .panel-body.form-horizontal
          .field.form-group
            =f.label :codigo, :class=> "control-label col-sm-2"
            .col-sm-6
              = f.text_field :codigo, :class=> "form-control input-sm upper"
          .field.form-group
            = f.label :nombre, :class=> "control-label col-sm-2"
            .col-sm-8
              = f.text_field :nombre, :class=> "form-control input-sm"
          .field.form-group
            .col-sm-2
            .field.checkbox.col-sm-10
              = f.label :activo
              = f.check_box :activo
        .panel-footer
          .actions
            = f.button(type: "submit", class: "btn btn-sm btn-primary") do
              GUARDAR
              %i.fa.fa-save
