= form_for @cargo do |f|
  - if @cargo.errors.any?
    .row
      .col-sm-6
        .alert.alert-danger
          %strong= "Cargo no puede guardarse. #{pluralize(@cargo.errors.count, "error")}"
          %ul
            - @cargo.errors.full_messages.each do |message|
              %li= message
  .row
    .col-md-10
      .panel.panel-primary
        .panel-heading
          %h4.panel-title
            Datos
        .panel-body.form-horizontal
          .field.form-group.col-sm-4
            = f.label :nombre, :class=> "control-label"
            %br
            = f.text_field :nombre, :class=> "form-control input-sm"
          .field.form-group.col-sm-4
            =f.label :codigo, "Código", :class=> "control-label"
            %br
            = f.text_field :codigo, :class=> "form-control input-sm upper"
          .field.form-group.col-sm-4
            = f.label :departamento_id, :class=> "control-label"
            %br
            = f.collection_select :departamento_id, Departamento.select("id, nombre").where(:activo=> true), :id, :nombre,{}, {:class=> "form-control input-sm"}
          .field.form-group.col-sm-4
            = f.label :area_profesional_id, "Área Profesional", :class=> "control-label"
            %br
            = f.collection_select :area_profesional_id, AreaProfesional.select("id, nombre").all, :id, :nombre,{:prompt=> "***Favor Seleccionar***"}, {:class=> "form-control input-sm"}

          %fieldset.col-sm-12
            %legend Requisitos
            .field.form-group.col-sm-4
              = f.label :estado_civil_id, :class=> "control-label"
              %br
              = f.collection_select :estado_civil_id, EstadoCivil.select("id, nombre").all, :id, :nombre, {}, {:class=> "form-control input-sm"}
          .field.form-group
            .col-sm-2
            .field.checkbox.col-sm-10
              = f.label :activo
              = f.check_box :activo
        .panel-footer
          .actions
            = f.button(type: "submit", class: "btn btn-sm btn-primary") do
              Guardar
              %i.fa.fa-save
