%h3 Cargos
.row
  .col-sm-11
    %table#datagrid.table.table-condensed.table-hover
      %thead
        %tr.info
          %th Codigo
          %th Nombre
          %th Departamento
          %th Activo
          %th Acciones
      %tbody
        - @cargos.each do |cargo|
          %tr
            %td= cargo.codigo
            %td= cargo.nombre
            %td= Departamento.find(cargo.departamento).nombre
            %td.centered
              - if cargo.activo
                %i.fa.fa-check.text-success
              - else
                %i.fa.fa-times.text-danger
            %td.centered
              = link_to edit_cargo_path(cargo) do
                %i.fa.fa-pencil.text-primary{'title' => 'Editar'}
              \|
              = link_to cargo, method: :delete, data: { confirm: 'Estás seguro?' } do
                %i.fa.fa-trash-o.text-danger{'title' => 'Borrar'}
%br
= link_to new_cargo_path, :class=> "btn btn-sm btn-primary" do
  %i.fa.fa-plus.text-success
  Nuevo Cargo

