<h1>Cargos</h1>
<div class="row">
    <div class="col-md-10">
        <table id="datagrid" class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Activo</th>
                    <th>Departamento</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <% @cargos.each do |cargo| %>
                <tr>
                    <td><%= cargo.codigo %></td>
                    <td><%= cargo.nombre %></td>
                    <td><%= cargo.activo %></td>
                    <td><%= Departamento.find(cargo.departamento).nombre %></td>
                    <td><%= link_to 'Show', cargo %></td>
                    <td><%= link_to 'Edit', edit_cargo_path(cargo) %></td>
                    <td><%= link_to 'Destroy', cargo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>


<br>

<%= link_to new_cargo_path, :class=> "btn btn-sm btn-primary" do %>
<i class="fa fa-plus text-success"></i> Nuevo Cargo
<% end %>
