<h1>Cargos</h1>
<div class="row">
    <div class="col-md-10">
        <table id="datagrid" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Departamento</th>
                    <th>Activo</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>
            </thead>

            <tbody>
                <% @cargos.each do |cargo| %>
                <tr>
                    <td><%= cargo.codigo %></td>
                    <td><%= cargo.nombre %></td>
                    <td><%= Departamento.find(cargo.departamento).nombre %></td>
                    <td class="centered"><% if cargo.activo %>
                    <i class="fa fa-check-square-o"></i>
                    <% else %>
                    <i class="fa fa-square-o"></i>
                    <% end %>
                    </td>
                    <td class="centered"><%= link_to edit_cargo_path(cargo) do %>
                    <i class="fa fa-pencil-square-o"></i>
                    <% end %>
                    </td>
                    <td class="centered">
                    <%= link_to cargo, method: :delete, data: { confirm: 'Estás seguro?' } do %>
                    <i class="fa fa-trash-o"></i>
                    <% end %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>


<br>

<%= link_to new_cargo_path, :class=> "btn btn-sm btn-primary" do %>
<i class="fa fa-plus text-success"></i> Nuevo Cargo
<% end %>
