= form_for @vacante do |f|
  - if @vacante.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vacante.errors.count, "error")} prohibited this vacante from being saved:"
      %ul
        - @vacante.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-sm-10
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Datos
        .panel-body.form-horizontal
          .field.form-group.col-sm-4
            = f.label :cargo_id, :class=> "control-label"
            %br
            = f.collection_select :cargo_id, Cargo.order("nombre"), :id, :nombre, {}, :class=> "form-control input-sm"
          .field.form-group.col-sm-4
            = f.label :area_profesional_id, "Área Profesional", :class=> "control-label"
            %br
            = f.collection_select :area_profesional_id, AreaProfesional.order("nombre"), :id, :nombre, {:prompt=> "***Seleccione Área Profesional***"}, :class=> "form-control input-sm"
          .field.form-group.col-sm-4
            = f.label :nivel_studio_id, "Nivel de Estudio", :class=> "control-label"
            %br
            = f.collection_select :nivel_studio_id, NivelEstudio.order("id"), :id, :nombre, {}, :class=> "form-control input-sm"
          .field.form-group.col-sm-3
            = f.label :provincia_id, :class=> "control-label"
            %br
            = f.collection_select :provincia_id, Provincia.order("id"), :id, :nombre, {:selected => "8"}, :class=> "form-control input-sm"
          .field.form-group.col-sm-3
            = f.label :distrito_id, :class=> "control-label"
            %br
            = f.grouped_collection_select :distrito_id, Provincia.all, :distritos, :nombre, :id, :nombre, {}, :class=> "form-control input-sm"
          .field.form-group.col-sm-6
            = f.label :direccion, "Ubicación", :class=> "control-label"
            %br
            = f.text_field :direccion, :class=> "form-control input-sm"
          .field.form-group.col-sm-3
            = f.label :fecha_inicio, "Fecha de Inicio", :class=> "control-label"
            %br
            = f.text_field :fecha_inicio, :class=> "form-control input-sm datepicker"
          .field.form-group.col-sm-3
            = f.label :fecha_vencimiento, "Fecha de Vencimiento", :class=> "control-label"
            %br
            = f.text_field :fecha_vencimiento,  :class=> "form-control input-sm datepicker"
          .field.form-group.col-sm-3
            = f.label :salario_oferta, "Oferta Salarial", :class=> "control-label"
            %br
            = f.text_field :salario_oferta, :class=> "form-control input-sm"
          .field.form-group.col-sm-2
            = f.label :activo, :class=> "control-label"
            %br
            = f.check_box :activo
          .field.form-group.col-sm-12
            = f.label :descripcion_cargo, "Descripción del Cargo", :class=> "control-label"
            %br
            = f.text_area :descripcion_cargo, :class=> "form-control input-sm"
        .panel-footer
          .actions
            = f.button(type: "submit", class: "btn btn-sm btn-primary") do
              Guardar
              %i.fa.fa-save
