%h3 VACANTES
.row
  .col-sm-8
    = form_tag vacantes_path, :method => 'get' do
      = label_tag :search, "Área"
      %br
      = select_tag :search, options_from_collection_for_select(AreaProfesional.order("nombre"), :id, :nombre, params[:search]), :multiple=> true, :class=> "multiselect"
      = submit_tag "Filtrar", :name => nil, :class=> "btn btn-sm btn-default filter"
  .col-sm-4
    %br
    = link_to new_vacante_path, :class=> "btn btn-sm btn-primary" do
      %i.fa.fa-plus.text-success
      NUEVA VACANTE
%br
%br
.row
  - @vacantes.each do |vacante|
    .col-sm-6
      .panel.panel-primary
        .panel-heading
          %h4.panel-title
            = Cargo.find(vacante.cargo_id).nombre
        .panel-body.form-horizontal#vacante-body
          %p
            %b.text-primary Área:
            = AreaProfesional.find(vacante.area_profesional_id).nombre
          %p
            %b.text-primary Oferta Salarial:
            - if vacante.salario_oferta
              = number_to_currency(vacante.salario_oferta)
              = GrupoPago.find(vacante.grupo_pago_id).nombre
            - else
              No especificado
          %p
            %b.text-primary Tipo Puesto:
            = TipoPuesto.find(vacante.tipo_puesto_id).nombre
          %p.actions.text-muted
            = pasado_palabras vacante.created_at
        .panel-footer
          .actions
            = link_to vacante do
              %i.fa.fa-search-plus.fa-2x.text-success{'title'=>"Ver Vacante"}
            = link_to edit_vacante_path(vacante) do
              %i.fa.fa-pencil.fa-2x.text-primary{'title'=>"Editar Vacante"}
            = link_to vacante, :method => :delete, :data => { :confirm => 'Está seguro?' } do
              %i.fa.fa-times.fa-2x.text-danger
#paginater
  = will_paginate @vacantes, renderer: BootstrapPagination::Rails
