%h1 Listing vacantes

%table
  %tr
    %th Cargo
    %th Fecha inicio
    %th Fecha vencimiento
    %th Activo
    %th Area profesional
    %th
    %th
    %th

  - @vacantes.each do |vacante|
    %tr
      %td= vacante.cargo_id
      %td= vacante.fecha_inicio
      %td= vacante.fecha_vencimiento
      %td= vacante.activo
      %td= vacante.area_profesional_id
      %td= link_to 'Show', vacante
      %td= link_to 'Edit', edit_vacante_path(vacante)
      %td= link_to 'Destroy', vacante, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Vacante', new_vacante_path
