%p#notice= notice

%p
  %b Cargo:
  = @vacante.cargo_id
%p
  %b Fecha inicio:
  = @vacante.fecha_inicio
%p
  %b Fecha vencimiento:
  = @vacante.fecha_vencimiento
%p
  %b Activo:
  = @vacante.activo
%p
  %b Area profesional:
  = @vacante.area_profesional_id

= link_to 'Edit', edit_vacante_path(@vacante)
\|
= link_to 'Back', vacantes_path
