.row
  .col-sm-8
    %fieldset
      %legend
        = Cargo.find(@vacante.cargo_id).nombre
      %p
        %b.text-primary Oferta Salarial:
        %b
          - if @vacante.salario_oferta
            = number_to_currency(@vacante.salario_oferta)
            = GrupoPago.find(@vacante.grupo_pago_id).nombre
          - else
            No Especificado
      %p
        %b.text-primary Área Profesional:
        = AreaProfesional.find(@vacante.area_profesional_id).nombre
      %p
        %b.text-primary Tipo de Puesto:
        = TipoPuesto.find(@vacante.tipo_puesto_id).nombre
      %p
        %b.text-primary Ubicación:
        = @vacante.direccion.titleize
        \,
        = Distrito.find(@vacante.distrito_id).nombre.titleize
        \,
        = Provincia.find(@vacante.provincia_id).nombre.titleize
      %p
        %b.text-primary Vigente Hasta:
        = @vacante.fecha_vencimiento.strftime("%d/%m/%Y")
      %br
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Descripción del Cargo
        .panel-body
          = h(@vacante.descripcion_cargo).gsub(/\n/, '<br>').html_safe
= link_to 'Editar', edit_vacante_path(@vacante)
\|
= link_to 'VOLVER', vacantes_path
