<h1>Departamentos</h1>

<div class="row">
    <div class="col-md-10">
        <table id="datagrid" class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Activo</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <% @departamentos.each do |departamento| %>
                <tr>
                    <td><%= departamento.codigo %></td>
                    <td><%= departamento.nombre %></td>
                    <td><%= departamento.activo %></td>
                    <td><%= link_to 'Show', departamento %></td>
                    <td><%= link_to 'Edit', edit_departamento_path(departamento) %></td>
                    <td><%= link_to 'Destroy', departamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

<br>

<%= link_to  new_departamento_path, :class=> "btn btn-primary btn-sm" do %>
<i class="fa fa-plus text-success"></i> Nuevo Departamento
<% end %>
