= form_for @seccion do |f|
  - if @seccion.errors.any?
    .row
      .col-md-6
        .alert.alert-danger
          %strong= "Sección no puede guardarse. #{pluralize(@seccion.errors.count, "error")}"
          %ul
            - @seccion.errors.full_messages.each do |message|
              %li= message
  .row
    .col-md-6
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            Datos
        .panel-body.form-horizontal
          .field.form-group
            =f.label :codigo, :class=> "control-label col-md-2"
            .col-md-6
              = f.text_field :codigo, :class=> "form-control input-sm upper"
          .field.form-group
            = f.label :nombre, :class=> "control-label col-md-2"
            .col-md-8
              = f.text_field :nombre, :class=> "form-control input-sm"
          .field.form-group
            .col-md-2
            .field.checkbox.col-md-10
              = f.label :activo
              = f.check_box :activo
        .panel-footer
          .actions
            = f.button(type: "submit", class: "btn btn-sm btn-primary") do
              Guardar
              %i.fa.fa-save
