= nested_form_for @prospecto do |f|
  - if @prospecto.errors.any?
    .row
      .col-md-6
        .alert.alert-danger
          %strong= "Prospecto no puede guardarse. #{pluralize(@prospecto.errors.count, "error")}"
          %ul
            - @prospecto.errors.full_messages.each do |message|
              %li= message

  .row
    .col-sm-10
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            Datos
        .panel-body
          %fieldset
            %legend Personales
            .form_horizontal.fields
              .form-group.col-sm-6
                = f.label :nombres, :class=> "control-label"
                %br
                = f.text_field :nombres, :class=> "form-control input-sm"
              .form-group.col-sm-6
                = f.label :apellidos, :class=> "control-label"
                %br
                = f.text_field :apellidos, :class=> "form-control input-sm"
              .form-group.col-sm-3
                = f.label :cedula, :class=> "control-label"
                %br
                = f.text_field :cedula, :class=> "form-control input-sm"
              .form-group.col-sm-3
                = f.label :seguro_social, "Seguro Social", :class=> "control-label"
                %br
                = f.text_field :seguro_social, :class=> "form-control input-sm"
              .form-group.col-sm-3
                = f.label :sexo_id, :class=> "control-label"
                %br
                = f.collection_select :sexo_id, Sexo.select("id, nombre").all, :id, :nombre, {}, :class=> "form-control input-sm"
              .form-group.col-sm-3
                = f.label :aspiracion_salario, "Aspiración Salarial", :class=> "control-label"
                %br
                .input-group
                  .input-group-addon.input-sm
                    %i.fa.fa-usd
                  = f.number_field :aspiracion_salario, :class=> "form-control input-sm"
              .form-group.col-sm-3
                = f.label :estado_civil_id, "Estado Civil", :class=> "control-label"
                %br
                = f.collection_select :estado_civil_id, EstadoCivil.select("id, nombre"), :id, :nombre, {}, :class=> "form-control input-sm"
              .form-group.col-sm-3
                = f.label :fecha_nacimiento, "Fecha de Nacimiento", :class=> "control-label"
                %br
                = f.text_field :fecha_nacimiento, :class=> "datepicker form-control input-sm"
              .form-group.col-sm-3
                = f.label :licencia_id, :class=> "control-label"
                %br
                = f.collection_select :licencia_id, Licencia.select("id, tipo").all, :id, :tipo, {}, :class=> "form-control input-sm"
              .form-group.col-sm-3
                = f.label :nacionalidad, :class=> "control-label"
                %br
                = f.country_select :nacionalidad, ["Panamá"], {:locale => "es"}, :class=> "form-control input-sm"
              .form-group.col-sm-5
                = f.label :direccion, "Dirección", :class=> "control-label"
                %br
                = f.text_field :direccion, :class=> "form-control input-sm"
              .form-group.col-sm-5
                =f.label :email, :class=> "control-label"
                %br
                =f.email_field :email, :class=> "form-control input-sm"
              .form-group.col-sm-2
                = f.label :disponible, :class=> "control-label"
                %br
                = f.check_box :disponible
          %br
          %fieldset
            %legend Teléfonos
            .col-sm-8
              %table.table.table-hover.table-bordered#telefonos
                %thead
                  %th Tipo Telefono
                  %th Teléfono
                  %th Eliminar
                = f.fields_for :prospecto_telefonos, :wrapper=> false do |telefonos_form|
                  %tr.fields.centered
                    %td= telefonos_form.collection_select :tipos_telefono_id, TiposTelefono.select("id, nombre").all, :id, :nombre, {}, :class=> "form-control input-sm"
                    %td= telefonos_form.phone_field :telefono, :class=> "form-control input-sm"
                    %td
                      = telefonos_form.link_to_remove do
                        %i.fa.fa-minus.text-danger
            = f.link_to_add :prospecto_telefonos, :class=> "btn btn-sm btn-primary", :data => { :target => "#telefonos" } do
              %i.fa.fa-plus.text-success
              Nuevo Teléfono
          %br
          %fieldset
            %legend Experiencia Laboral
            = f.fields_for :prospecto_experiencias do |experiencias_form|
              .form-horizontal.fields#experiencia
                .form-group.col-sm-6
                  = experiencias_form.label :empresa, :class=> "control-label"
                  %br
                  = experiencias_form.text_field :empresa, :class=> "form-control input-sm"
                .form-group.col-sm-6
                  = experiencias_form.label :cargo, :class=> "control-label"
                  %br
                  = experiencias_form.text_field :cargo, :class=> "form-control input-sm"
                .form-group.col-sm-3
                  = experiencias_form.label :ultimo_salario, "Último Salario", :class=> "control-label"
                  %br
                  .input-group
                    .input-group-addon.input-sm
                      %i.fa.fa-usd
                    = experiencias_form.number_field :ultimo_salario, :class=> "form-control input-sm"
                .form-group.col-sm-3
                  = experiencias_form.label :fecha_ingreso, "Fecha Ingreso", :class=> "control-label"
                  %br
                  = experiencias_form.text_field :fecha_ingreso, :class=> "datepicker form-control input-sm"
                .form-group.col-sm-3
                  = experiencias_form.label :fecha_salida, "Fecha Salida", :class=> "control-label"
                  %br
                  = experiencias_form.text_field :fecha_salida, :class=> "form-control input-sm datepicker"
                .form-group.col-sm-3
                  = experiencias_form.label :actual, :class=> "control-label"
                  %br
                  = experiencias_form.check_box :actual, :class=> "form-control input-sm"
                .form-group.col-sm-12
                  = experiencias_form.label :descripcion_cargo, "Descripción del Cargo", :class=> "control-label"
                  %br
                  = experiencias_form.text_area :descripcion_cargo, :class=> "form-control input-sm"
                = experiencias_form.link_to_remove "Eliminar Experiencia"
                %hr
            = f.link_to_add :prospecto_experiencias, :class=> "btn btn-sm btn-primary" do
              %i.fa.fa-plus.text-success
              Nueva Experiencia
          %br
          %fieldset
            %legend
              Educación
        .panel-footer
          .actions
            = f.submit 'Save'
