%h3 Prospectos

%table.table.table-hover.table-striped.table-condensed#datagrid
  %thead
    %tr.info
      %th Nombres
      %th Sexo
      %th Aspiración Salarial
      %th Edad
      %th Licencia
      %th Disponible
      %th Acciones

  - @prospectos.each do |prospecto|
    %tr
      %td
        = prospecto.nombres
        = prospecto.apellidos
      %td= Sexo.find(prospecto.sexo_id).nombre
      %td.centered= number_to_currency(prospecto.aspiracion_salario)
      %td.centered= Date.today.year - prospecto.fecha_nacimiento.year
      %td.centered= Licencia.find(prospecto.licencia_id).tipo
      %td.centered
        - if prospecto.disponible
          %i.fa.fa-check.text-success
        - else
          %i.fa.fa-times.text-danger
      %td.centered
        = link_to prospecto do
          %i.fa.fa-list-alt.text-info{'title' => "Detalles"}
        \|
        = link_to edit_prospecto_path(prospecto) do
          %i.fa.fa-pencil.text-primary{'title' => "Editar"}
        \|
        = link_to prospecto, method: :delete, data: { confirm: '¿Está Seguro?' } do
          %i.fa.fa-trash-o.text-danger{'title' => "Borrar"}

%br
= link_to  new_prospecto_path, :class=> "btn btn-primary btn-sm" do
  %i.fa.fa-plus.text-success
  Nuevo Prospecto
