%h3 Prospectos

%table.table.table-hover#datagrid
  %thead
    %tr
      %th Nombres
      %th Sexo
      %th Aspiración Salarial
      %th Edad
      %th Licencia
      %th Disponible
      %th
      %th
      %th

  - @prospectos.each do |prospecto|
    %tr
      %td
        = prospecto.nombres
        = prospecto.apellidos
      %td= Sexo.find(prospecto.sexo_id).nombre
      %td.centered= number_to_currency(prospecto.aspiracion_salario)
      %td.centered= Date.today.year - prospecto.fecha_nacimiento.year
      %td.centered= Licencia.find(prospecto.licencia_id).tipo
      %td.centered
        - if prospecto.disponible
          %i.fa.fa-check.text-success
        - else
          %i.fa.fa-times.text-danger
      %td= link_to 'Show', prospecto
      %td= link_to 'Edit', edit_prospecto_path(prospecto)
      %td= link_to 'Destroy', prospecto, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= link_to  new_prospecto_path, :class=> "btn btn-primary btn-sm" do
  %i.fa.fa-plus.text-success
  Nuevo Prospecto
