.row
  .col-sm-8
    .panel.panel-black
      .panel-body
        %h2
          = @prospecto.nombres
          = @prospecto.apellidos
        %h4.text-info
          %i.fa.fa-sitemap
          = AreaProfesional.find(@prospecto.area_profesional_id).nombre
        %h5.text-primary
          %i.fa.fa-phone
          - @prospecto.prospecto_telefonos.each_with_index do |telefono, index|
            = telefono.telefono
            - if index + 1 < @prospecto.prospecto_telefonos.count
              \/
        %h5.text-warning
          %i.fa.fa-envelope
          = @prospecto.email
        .actions
          = link_to edit_prospecto_path(@prospecto), :class=> "btn btn-primary btn-sm" do
            %i.fa.fa-pencil
            Editar
          = link_to prospectos_path, :class=> "btn btn-primary btn-sm" do
            %i.fa.fa-check.text-success
            Aceptar
    .panel.panel-primary
      .panel-heading
        %h4.panel-title
          %i.fa.fa-user
          Datos Personales
      .panel-body
        %p
          %b Cédula:
          = @prospecto.cedula
        %p
          %b Seguro Social:
          = @prospecto.seguro_social
        %p
          %b Sexo:
          = Sexo.find(@prospecto.sexo_id).nombre
        %p
          %b Estado Civil:
          = EstadoCivil.find(@prospecto.estado_civil_id).nombre
        %p
          %b Dirección:
          = @prospecto.direccion
        %p
          %b Fecha de Nacimiento:
          = @prospecto.fecha_nacimiento.strftime("%d/%m/%Y")
          (
          = Date.today.year - @prospecto.fecha_nacimiento.year
          años
          )
        %p
          %b Licencia de Conducir:
          Tipo
          = Licencia.find(@prospecto.licencia_id).tipo
        %p
          %b País de Origen:
          = @prospecto.nacionalidad
        %p
          %b Aspiración Salarial:
          %b.text-success
            = number_to_currency(@prospecto.aspiracion_salario)
        %p
          %b Disponible:
          - if @prospecto.disponible
            %i.fa.fa-check.text-success
          - else
            %i.fa.fa-times.text-danger
    .panel.panel-primary
      .panel-heading
        %h4.panel-title
          %i.fa.fa-suitcase
          Experiencia
      .panel-body
        - @prospecto.prospecto_experiencias.sort{|a, b| b.fecha_ingreso <=> a.fecha_ingreso}.each_with_index do |experiencia, index|
          %b
            = experiencia.cargo
          \/
          = experiencia.empresa
          %p.text-muted
            = experiencia.fecha_ingreso.strftime("%d/%m/%Y")
            \-
            - if experiencia.actual
              Actualmente
            - else
              - if experiencia.fecha_salida
                = experiencia.fecha_salida.strftime("%d/%m/%Y")
          %b Último Salario:
          - if experiencia.ultimo_salario
            = number_to_currency(experiencia.ultimo_salario)
          - else
            No Disponible
          %p
            %b Descripción de Funciones
          %p.contenido
            = h(experiencia.descripcion_cargo).gsub(/\n/, '<br>').html_safe
          - if index + 1 < @prospecto.prospecto_experiencias.count
            %hr
    .panel.panel-primary
      .panel-heading
        %h4.panel-title
          %i.fa.fa-graduation-cap
          Educación
      .panel-body
        - @prospecto.prospecto_estudios.sort{|a, b| b.fecha_inicio <=> a.fecha_inicio}.each_with_index do |estudio, index|
          %b
            =estudio.nombre_titulo
          \/
          = estudio.institucion
          %p.text-muted
            = estudio.fecha_inicio
            \-
            = estudio.fecha_fin
          %p
            %em
              = NivelEstudio.find(estudio.nivel_estudio_id).nombre
          %p
            = StatusEstudio.find(estudio.status_estudio_id).nombre
          - if index + 1 < @prospecto.prospecto_estudios.count
            %hr
    .panel.panel-primary
      .panel-heading
        %h4.panel-title
          %i.fa.fa-book
          Cursos y Seminarios
      .panel-body
        - @prospecto.prospecto_cursos.sort{|a, b| b.anio_curso <=> a.anio_curso}.each_with_index do |curso, index|
          %b
            = curso.titulo_curso
          \/
          = curso.institucion
          %p.text-muted
            = curso.anio_curso
          %b Descripción del Curso
          %p= h(curso.descripcion_curso).gsub(/\n/, '<br>').html_safe
          - if index + 1 < @prospecto.prospecto_cursos.count
            %hr
    .panel.panel-primary
      .panel-heading
        %h4.panel-title
          %i.fa.fa-language
          Idiomas
      .panel-body
        - @prospecto.prospecto_idiomas.each_with_index do |idioma, index|
          %b
            = Idioma.find(idioma.idioma_id).nombre
          %p.text-muted
            Nivel Oral:
            = NivelIdioma.find(idioma.nivel_oral_id).nombre
            \/
            Nivel Escrito:
            = NivelIdioma.find(idioma.nivel_escrito_id).nombre
          - if index + 1 < @prospecto.prospecto_idiomas.count
            %hr
    .panel.panel-primary
      .panel-heading
        %h4.panel-title
          %i.fa.fa-list-alt
          Conocimientos
      .panel-body
        - @prospecto.prospecto_conocimientos.each_with_index do |conocimiento, index|
          %p
            %b
              = conocimiento.nombre
          %p.text-muted
            = h(conocimiento.descripcion).gsub(/\n/, '<br>').html_safe
          - if index + 1 < @prospecto.prospecto_conocimientos.count
            %hr
