%h3
  = @prospecto.nombres
  = @prospecto.apellidos

%fieldset
  %legend Personales
  %p
    %b Cedula:
    = @prospecto.cedula
  %p
    %b Seguro social:
    = @prospecto.seguro_social
  %p
    %b Sexo:
    = @prospecto.sexo_id
  %p
    %b Aspiracion salario:
    = @prospecto.aspiracion_salario
  %p
    %b Estado civil:
    = @prospecto.estado_civil_id
  %p
    %b Direccion:
    = @prospecto.direccion
  %p
    %b Fecha nacimiento:
    = @prospecto.fecha_nacimiento
  %p
    %b Licencia:
    = @prospecto.licencia_id
  %p
    %b Nacionalidad:
    = @prospecto.nacionalidad
  %p
    %b Disponible:
    = @prospecto.disponible

- @prospecto.prospecto_telefonos.each do |telefonos|
  = telefonos.telefono

= link_to 'Edit', edit_prospecto_path(@prospecto)
\|
= link_to 'Back', prospectos_path
