%h3 Empleados
.row
  .col-sm-12
    %table#datagrid.table.table-hover.table-striped
      %thead
        %tr.info
          %th #
          %th Codigo
          %th Nombres
          %th Cédula
          %th Cargo
          %th Sucursal
          %th Email
          %th Teléfono
          %th Acciones
      %tbody
        - @empleados.each do |empleado|
          %tr
            %td= empleado.id
            %td= empleado.codigo
            %td
              = empleado.nombres
              = empleado.apellidos
            %td= empleado.cedula
            %td= Cargo.find(empleado.cargo_id).nombre
            %td= Sucursal.find(empleado.sucursal_id).nombre
            %td= empleado.email
            %td= number_to_phone(empleado.telefono)
            %td.centered
              = link_to empleado do
                %i.fa.fa-search-plus.text-success{'title' => "Detalles"}
              \|
              = link_to edit_empleado_path(empleado) do
                %i.fa.fa-pencil.text-primary{'title' => "Editar"}
              \|
              = link_to empleado, method: :delete, data: { confirm: '¿Está Seguro?' } do
                %i.fa.fa-trash-o.text-danger{'title' => "Borrar"}
%br
= link_to new_empleado_path, :class=>"btn btn-primary btn-sm" do
  %i.fa.fa-plus.text-success
  Nuevo
