<%= form_for(@sucursal) do |f| %>
<% if @sucursal.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@sucursal.errors.count, "error") %> prohibited this sucursal from being saved:</h2>

    <ul>
        <% @sucursal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Sucursal
                </h4>
            </div>
            <div class="panel-body form-horizontal">
                <div class="field form-group">
                    <%= f.label :codigo, :class=> "control-label col-md-2" %>
                    <div class="col-md-6">
                        <%= f.text_field :codigo, :class=> "form-control input-sm upper" %>
                    </div>
                </div>
                <div class="field form-group">
                    <%= f.label :nombre, :class=> "control-label col-md-2" %>
                    <div class="col-md-8">
                        <%= f.text_field :nombre, :class=> "form-control input-sm" %>
                    </div>
                </div>
                <div class="field form-group">
                    <div class="col-md-2"></div>
                    <div class="field checkbox col-md-10">
                        <%= f.label :activo %>
                        <%= f.check_box :activo %>
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <div class="actions">
                    <%= f.submit "Guardar Sucursal", :class=> "btn btn-primary btn-sm" %>
                </div>
            </div>
        </div>
    </div>
</div>


<% end %>
