<h1>Sucursales</h1>

<div class="row">
    <div class="col-md-10">
        <table id="datagrid" class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Activo</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <% @sucursals.each do |sucursal| %>
                <tr>
                    <td><%= sucursal.codigo %></td>
                    <td><%= sucursal.nombre %></td>
                    <td><%= sucursal.activo %></td>
                    <td><%= link_to 'Show', sucursal %></td>
                    <td><%= link_to 'Edit', edit_sucursal_path(sucursal) %></td>
                    <td><%= link_to 'Destroy', sucursal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>


<br>

<%= link_to new_sucursal_path, :class=> "btn btn-primary btn-sm" do %>
<i class="fa fa-plus text-success"></i> Nueva Sucursal
<% end %>
