<h1>Usuarios</h1>

<div class="row">
  <div class="col-md-8">
    <table class="table table-condensed table-hover" id="datagrid">
      <thead>
        <tr>
          <th><i class="fa fa-user"></i> Nombre de Usuario</th>
          <th><i class="fa fa-envelope"></i> Email</th>
          <th><i class="fa fa-lock"></i> Contraseña</th>
          <th>Acciones </th>
        </tr>
      </thead>

      <tbody>
        <% @usuarios.each do |usuario| %>
        <tr class="centered">
          <td><%= usuario.username %></td>
          <td><%= usuario.email %></td>
          <td>*********</td>
          <td>
            <%= link_to edit_usuario_path(usuario) do %>
            <i class="fa fa-pencil btn btn-xs btn-primary" title="Editar"></i>
            <% end %>

            <%= link_to usuario, method: :delete, data: { confirm: 'Are you sure?' }  do %>
            <i class="fa fa-trash-o btn btn-xs btn-danger" title="Eliminar"></i>
            <% end %>
            </td>

        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
  <br>

<%= link_to new_usuario_path, :class=> "btn btn-primary btn-sm" do %>
<i class="fa fa-plus text-success"></i> Nuevo Usuario
<% end %>
</div>


