%h3 CENTROS DE COSTOS
.row
  .col-sm-10
    %table#datagrid.table.table-hover.table-condensed
      %thead
        %tr.info
          %th Codigo
          %th Nombre
          %th Activo
          %th Acciones
      %tbody
        - @centro_costos.each do |centro_costo|
          %tr
            %td= centro_costo.codigo
            %td= centro_costo.nombre
            %td.centered
              - if centro_costo.activo
                %i.fa.fa-check.text-success
              - else
                %i.fa.fa-times.text-danger
            %td.centered
              = link_to edit_centro_costo_path(centro_costo) do
                %i.fa.fa-pencil.text-primary{'title' => 'Editar'}
              \|
              = link_to centro_costo, method: :delete, data: { confirm: 'Estás seguro?' } do
                %i.fa.fa-trash-o.text-danger{'title' => 'Borrar'}
%br
= link_to new_centro_costo_path, :class=> "btn btn-primary btn-sm" do
  %i.fa.fa-plus.text-success
  NUEVO CENTRO DE COSTO

