%h2 Turnos
.row
  .col-md-11
    %table#datagrid.table.table-hover.table-condensed.table-responsive
      %thead
        %tr
          %th Codigo
          %th Nombre
          %th Entrada
          %th Inicio Descanso
          %th Fin Descanso
          %th Salida
          %th Descanso
          %th Activo
          %th Acciones
      %tbody
        - @turnos.each do |turno|
          %tr
            %td= turno.codigo
            %td= turno.nombre
            %td= turno.entrada.strftime("%I:%M %p")
            %td
              - if turno.inicio_descanso
                = turno.inicio_descanso.strftime("%I:%M %p")
              - else
                %i.fa.fa-times
            %td
              - if turno.fin_descanso
                = turno.fin_descanso.strftime("%I:%M %p")
              - else
                %i.fa.fa-times
            %td= turno.salida.strftime("%I:%M %p")
            %td.centered
              - if turno.descanso
                %i.fa.fa-check-square-o.btn.btn-xs.btn-success
              - else
                %i.fa.fa-times.btn.btn-xs.btn-danger
            %td.centered
              - if turno.activo
                %i.fa.fa-check-square-o.btn.btn-xs.btn-success
              - else
                %i.fa.fa-times.btn.btn-xs.btn-danger
            %td.centered
              = link_to edit_turno_path(turno) do
                %i.fa.fa-pencil.btn.btn-xs.btn-primary{'title' => 'Editar'}
              = link_to turno, method: :delete, data: { confirm: 'Está seguro?' } do
                %i.fa.fa-trash-o.btn.btn-xs.btn-danger{'title' => 'Borrar'}
%br
= link_to new_turno_path, :class=> "btn btn-primary btn-sm" do
  %i.fa.fa-plus.text-success
  Nuevo Turno

