<h1>Turnos</h1>
<div class="row">
  <div class="col-md-11">
    <table id="datagrid" class="table table-hover table-condensed table-responsive">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Nombre</th>
          <th>Entrada</th>
          <th>Inicio Descanso</th>
          <th>Fin Descanso</th>
          <th>Salida</th>
          <th>Descanso</th>
          <th>Activo</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @turnos.each do |turno| %>
        <tr>
          <td><%= turno.codigo %></td>
          <td><%= turno.nombre %></td>
          <td><%= turno.entrada.strftime("%I:%M %p") %></td>
          <td>
            <% if turno.inicio_descanso %>
            <%= turno.inicio_descanso.strftime("%I:%M %p") %>
            <% else %>
            <i class="fa fa-times"></i>
            <% end %>
          </td>
          <td><% if turno.fin_descanso %>
            <%= turno.fin_descanso.strftime("%I:%M %p") %>
            <% else %>
            <i class="fa fa-times"></i>
            <% end %>
          </td>
          <td><%= turno.salida.strftime("%I:%M %p") %></td>
          <td class="centered">
            <% if turno.descanso %>
            <i class="fa fa-check-square-o btn btn-xs btn-success"></i>
            <% else %>
            <i class="fa fa-times btn btn-xs btn-danger"></i>
            <% end %>
          </td>
          <td class="centered">
            <% if turno.activo %>
            <i class="fa fa-check-square-o btn btn-xs btn-success"></i>
            <% else %>
            <i class="fa fa-times btn btn-xs btn-danger"></i>
            <% end %>
          </td>
          <td class="centered">
            <%= link_to edit_turno_path(turno) do %>
            <i class="fa fa-pencil btn btn-xs btn-primary" title="Editar"></i>
            <% end %>
            <%= link_to turno, method: :delete, data: { confirm: 'Está seguro?' } do %>
            <i class="fa fa-trash-o btn btn-xs btn-danger" title="Borrar"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<br>

<%= link_to new_turno_path, :class=> "btn btn-primary btn-sm" do %>
<i class="fa fa-plus text-success "></i> Nuevo Turno
<% end %>
