<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @turno.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @turno.nombre %>
</p>

<p>
  <strong>Entrada:</strong>
  <%= @turno.entrada %>
</p>

<p>
  <strong>Inicio descanso:</strong>
  <%= @turno.inicio_descanso %>
</p>

<p>
  <strong>Fin descanso:</strong>
  <%= @turno.fin_descanso %>
</p>

<p>
  <strong>Salida:</strong>
  <%= @turno.salida %>
</p>

<p>
  <strong>Descanso:</strong>
  <%= @turno.descanso %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @turno.activo %>
</p>

<%= link_to 'Edit', edit_turno_path(@turno) %> |
<%= link_to 'Back', turnos_path %>
