%h3 Requisitos del Cargo

%table#datagrid.table.table-hover.table-condensed.table-responsive
  %thead
    %tr
      %th Cargo
      %th Requisito
      %th Requerido?
      %th Activo?
      %th Acciones

  %tbody
    - @reqcargos.each do |reqcargo|
      %tr
        %td= Cargo.find(reqcargo.cargo_id).nombre
        %td= reqcargo.nomrequis
        %td.centered
          - if reqcargo.requerido
            %i.fa.fa-check.text-success
          - else
            %i.fa.fa-times.text-danger
        %td.centered
          - if reqcargo.lactivo
            %i.fa.fa-check.text-success
          - else
            %i.fa.fa-times.text-danger
        %td.centered
          = link_to reqcargo do
            %i.fa.fa-search-plus.text-success{'title' => "Detalles"}
          \|
          = link_to edit_reqcargo_path(reqcargo) do
            %i.fa.fa-pencil.text-primary{'title' => "Editar"}
          \|
          = link_to reqcargo, method: :delete, data: { confirm: '¿Está Seguro?' } do
            %i.fa.fa-trash-o.text-danger{'title' => "Borrar"}

%br

= link_to new_reqcargo_path, :class=> "btn btn-primary btn-sm" do
  %i.fa.fa-plus.text-success
  Nuevo
