<!DOCTYPE html>
<html>
    <head>
        <title>HRSoftware</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <%= link_to root_url, :class=> "navbar-brand" do %>
                    <i class="fa fa-home"></i> HRSoft
                    <% end %>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 left-sidebar">
                    <br>
                    <div id="accordion" class="well">
                        <h4>
                            <strong>
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <i class="fa fa-cogs"></i>  Mantenimiento  <i class="fa fa-chevron-down"></i>
                                </a>
                            </strong>
                        </h4>
                        <div class="panel-collapse collapse in" id="collapseOne">
                            <ul class="nav nav-pills nav-stacked">
                                <li><%= link_to "Sucursales", sucursals_path %></li>
                                <li><%= link_to "Departamentos", departamentos_path %></li>
                                <li><%= link_to "Centros De Costos", centro_costos_path %></li>
                                <li><%= link_to "Cargos", cargos_path %></li>
                                <li><%= link_to "Secciones", seccions_path %></li>
                                <li><%= link_to "Proyectos", proyectos_path %></li>
                            </ul>
                        </div>
                        <hr>
                        <h4><strong>
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <i class="fa fa-users"></i>
                                Empleados </a>
                            </strong>
                        </h4>
                    </div>
                </div>
                <div class="col-md-10 main-container">
                    <div class="row">
                        <ul class="breadcrumb col-md-4">
                            <%= render_breadcrumbs :tag => :li, :separator => "" %>
                        </ul>
                    </div>
                    <%= yield %>
                </div>

            </div>
        </div>
    </body>
</html>


