!!!
%html
  %head
    %title RH Software - Sistema de Gestión de Recursos Humanos
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header.navbar.navbar-inverse.navbar-fixed-top
      #nav-container.container-fluid
        .navbar-header
          = link_to root_url, :class=> "navbar-brand" do
            %i.fa.fa-calendar
            RH Software
        %ul.nav.navbar-nav.navbar-right
          - if current_user
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", "href" => "#"}
                %i.fa.fa-user
                = current_user.username.titleize
                #b.caret
              %ul.dropdown-menu
                %li
                  = link_to usuarios_path do
                    %i.fa.fa-lock
                    Administrar Usuarios
                %li
                  = link_to logout_path do
                    %i.fa.fa-sign-out
                    Cerrar Sesión
          - else
            %li.dropdown
              %a.dropdown-toggle{'data-toggle' => "dropdown", 'href' => "#"}
                %i.fa.fa-lock
                Acceder
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to "#modal_login", "data-toggle" => "modal", "data-target" => "#modal_login" do
                    Abrir Sesión
                    %i.fa.fa-sign-in
                %li
                  = link_to "#modal_register", "data-toggle" => "modal", "data-target" => "#modal_register" do
                    Registrarse
                    %i.fa.fa-file-text-o
    = custom_bootstrap_flash
    .container-fluid
      - if current_user
        .row
          #aside.col-sm-2.left-sidebar
            #nav#accordion.well{'role' => "navigation"}
              %h5.aside-title
                %a{'data-toggle' => "collapse", 'data-parent' => "#accordion", 'href' => "#collapseOne"}
                  %i.fa.fa-chevron-down
                  Empleados
                  %i.fa.fa-users
              .panel-collapse.collapse#collapseOne
                %ul.nav.nav-pills.nav-stacked
                  %li= link_to "Listar", empleados_path
                  %li= link_to "Nuevo", new_empleado_path
              %hr
              %h5.aside-title
                %a{'data-toggle' => "collapse", 'data-parent' => "#accordion", 'href'=> "#collapseTwo"}
                  %i.fa.fa-chevron-down
                  Reclutamiento
                  %i.fa.fa-bullhorn
              .panel-collapse.collapse#collapseTwo
                %ul.nav.nav-pills.nav-stacked
                  %li= link_to "Prospectos", prospectos_path
                  %li= link_to "Vacantes", vacantes_path
              %hr
              %h5.aside-title
                %a{'data-toggle' => "collapse", 'data-parent' => "#accordion", 'href'=> "#collapseThree"}
                  %i.fa.fa-chevron-down
                  Mantenimiento
                  %i.fa.fa-database
              .panel-collapse.collapse#collapseThree
                %ul.nav.nav-pills.nav-stacked
                  %li= link_to "Sucursales", sucursals_path
                  %li= link_to "Departamentos", departamentos_path
                  %li= link_to "Centros De Costo", centro_costos_path
                  %li= link_to "Cargos", cargos_path
                  %li= link_to "Secciones", seccions_path
                  %li= link_to "Proyectos", proyectos_path
                  %li= link_to "Fases", fases_path
                  %li= link_to "Turnos", turnos_path
          .col-sm-10.main-container
            #center-container.well
              .row
                %ul.breadcrumb.col-sm-4
                  = render_breadcrumbs :tag => :li, :separator => ""
              = yield
      - else
        :css
          body {
            background-image: url('/assets/BackgroundHR.jpg');
            }
        .row
          .jumbotron#home
            %h1.text-info RH Software
            %p.text-primary Sistema de Gestión de Recursos Humanos
            %p
            = link_to "#modal_login", "data-toggle" => "modal", "data-target" => "#modal_login", :class=> "btn btn-primary" do
              Abrir Sesión
              %i.fa.fa-sign-in
    .modal.fade#modal_login
      .modal-dialog.modal-sm
        .modal-content
          = form_for :sessions, :url=> "sessions", :html=> {:class=> "form-horizontal"} do |f|
            .modal-header
              %button.close{'type' => "button", 'data-dismiss' => "modal", 'aria-hidden' => "true"}
                &times;
              %h4.modal-title Iniciar Sesión
            .modal-body
              .modal-container
                .form-group
                  .input-group
                    = f.email_field :email, {:class=> "form-control", :placeholder=>"Email"}
                    %span.input-group-addon
                      %i.fa.fa-envelope
                .form-group
                  .input-group
                    = f.password_field :password, {:class=> "form-control", :placeholder=>"Password"}
                    %span.input-group-addon
                      %i.fa.fa-key
                .form-group
                  = button_tag(type: 'submit', class: "btn btn-primary btn-block") do
                    %i.fa.fa-arrow-right
                    Iniciar Sesión

    .modal.fade#modal_register
      .modal-dialog.modal-sm
        .modal-content.form-horizontal
          = form_for Usuario.new do |f|
            .modal-header
              %button.close{'type' => "button", 'data-dismiss' => "modal", 'aria-hidden' => "true"}
                &times;
              %h4.modal-title Registro
            .modal-body
              .modal-container
                .form-group
                  .input-group
                    = f.text_field :username, {:class=> "form-control", :placeholder=>"Nombre de Usuario"}
                    %span.input-group-addon
                      %i.fa.fa-user
                .form-group
                  .input-group
                    = f.email_field :email, {:class=> "form-control", :placeholder=>"Email"}
                    %span.input-group-addon
                      %i.fa.fa-envelope
                .form-group
                  .input-group
                    = f.password_field :password, {:class=> "form-control", :placeholder=>"Contraseña"}
                    %span.input-group-addon
                      %i.fa.fa-key
                .form-group
                  .input-group
                    = f.password_field :password_confirmation, {:class=> "form-control", :placeholder=>"Confirmación Contraseña"}
                    %span.input-group-addon
                      %i.fa.fa-lock
                .form-group
                  = button_tag(type: 'submit', class: "btn btn-primary btn-block") do
                    %i.fa.fa-arrow-right
                    Registrar Usuario
