<!DOCTYPE html>
<html>
  <head>
    <title>HRSoftware</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to root_url, :class=> "navbar-brand" do %>
          <i class="fa fa-home"></i> HRSoft
          <% end %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-user"></i> <%= current_user.username %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to logout_path do %>
                <i class="fa fa-sign-out"></i> Cerrar Sesión
                <% end %>
              </li>
            </ul>
          </li>
          <% else %>
          <li>
            <%= link_to "#modal_login", "data-toggle" => "modal", "data-target" => "#modal_login" do %>
            Abrir Sesión <i class="fa fa-sign-in"></i>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </header>
    <div class="container-fluid">
      <% if current_user %>
      <div class="row">
        <aside class="col-md-2 left-sidebar">
          <nav id="accordion" class="well" role="navigation">
            <h5 class="aside-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <i class="fa fa-users"></i>  Empleados  <i class="fa fa-chevron-down"></i>
              </a>
            </h5>
            <div class="panel-collapse collapse" id="collapseOne">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <%= link_to empleados_path do %>
                  <i class="fa fa-list"></i> Listar
                  <% end %>
                </li>
                <li><%= link_to "Nuevo", new_empleado_path %></li>
              </ul>
            </div>
            <hr>
            <h5 class="aside-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                <i class="fa fa-cogs"></i>  Mantenimiento  <i class="fa fa-chevron-down"></i>
              </a>
            </h5>
            <div class="panel-collapse collapse" id="collapseTwo">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <%= link_to sucursals_path do %>
                  <i class="fa fa-database"></i> Sucursales
                  <% end %>
                </li>
                <li><%= link_to "Departamentos", departamentos_path %></li>
                <li><%= link_to "Centros De Costos", centro_costos_path %></li>
                <li><%= link_to "Cargos", cargos_path %></li>
                <li><%= link_to "Secciones", seccions_path %></li>
                <li><%= link_to "Proyectos", proyectos_path %></li>
                <li><%= link_to "Fases", fases_path %></li>
                <li><%= link_to "Turnos", turnos_path %></li>
              </ul>
            </div>
          </nav>
        </aside>
        <div class="col-md-10 main-container">
          <div id="center-container" class="well">
            <div class="row">
              <ul class="breadcrumb col-md-4">
                <%= render_breadcrumbs :tag => :li, :separator => "" %>
              </ul>
            </div>
            <%= yield %>
          </div>
        </div>
      </div>
      <% else %>
      <div class="row">
        <div class="jumbotron">
          <h1>RH Software</h1>
          <p class="text-primary">Software de Gestión de Recursos Humanos</p>
          <p>
            <%= link_to "#modal_login", "data-toggle" => "modal", "data-target" => "#modal_login", :class=> "btn btn-primary" do %>
            Abrir Sesión <i class="fa fa-sign-in"></i>
            <% end %>
          </p>
        </div>
      </div>
      <% end %>
    </div>
    <div class="modal fade" id="modal_login">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <%= form_for :sessions, :url=> "sessions", :html=> {:class=> "form-horizontal"} do |f| %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title text-primary"><i class="fa fa-user"></i> <strong>Iniciar Sesión</strong></h4>
          </div>
          <div class="modal-body">
            <div class="modal-container">
              <div class="form-group">
                <div class="input-group">
                  <%= f.email_field :email, {:class=> "form-control", :placeholder=>"Email"} %>
                  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-key"></i>
                  </span>
                  <%= f.password_field :password, {:class=> "form-control", :placeholder=>"Password"} %>
                  <span class="input-group-btn">
                    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
                    <i class="fa fa-arrow-right"></i>
                    <% end %>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
  </body>
</html>


